*{ padding: 0; 
	margin: 0; 
	box-sizing: border-box;
	}
	
body {
	background: #81c644;	
	font-family: 'JosefinSans', sans-sarif;}
.wrapper { margin-top: 10%;}
.wrapper h1 { font-family: 'Allura', cursive;
              font-size: 52px;
              margin-bottom: 60px;
			  text-align: center;}			  
.team {
		display: flex;
		text-align: center;
		width: auto;
		justify-content: center;
		flex-wrap: wrap;}
.team .team_member {
					background: #fff;
					margin: 5px;
					margin-bottom: 50px;
					width: 300px;
					padding: 20px;
					line-height: 20px;
					color:#8e8b8b;
					position: relative;}	
.team .team_member h3 {
					  color: #81c644;
					  font-size: 25px;
					  margin-top: 50px;}
.team .team_member p.role{
	color: #ff0606;
	font-size: 12px;
	text-transform: uppercase;
margin: 12px 0px;}
.team .team_member .team_img {
     position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	
	
	}
.team .team_member .team_img img {
								width:100px;
								height:100px;
								border-radius: 50%;
								padding:7px;
								background:#fff;}	

